.padd_left {
    padding-left: 0;
    padding-right: 0 !important
}

.padd_left_rigth_col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.left_bord {
    background-color: #e2e4e5;
}

.logo {
    padding-top: 2%;
    cursor: pointer;
}

.buttons_top_nav {
    padding-top: 3%;
}

.para_left_top {
    padding-top: 3%;
}

.select_top {
    padding: 6% 20%;
}

.select_top {
    padding: 6% 20%;
}
.button_left_group{
    padding-left: 5%;
}
.btn_one{
    border: 1px solid grey;
    background-color:#e2e4e5 ;
    color:black;
}
.input_top_one{
    padding: 9px 37px;
}
.href_color{
    color: black;
}
.accordion-head i{
    font-size: 2.5em;
    float: right;
}

.accordion-head > .collapsed > i:before{
    content: "\f105";
}
.my_style{
    background-color: #e2e4e5;
    border:none;

}
.my_style>.card-header{
    padding: 5px 0px 5px 10px;
}
.card-block>p{
    margin: 0;
}
.collapse_bg{
    background-color:#e2e4e5 ;
}
.collapse_bg{
    background-color:#e2e4e5 ;
    border-bottom: none;
}
.plus_icon > span{
    color:black
}
.new_db{
    margin-left: 12%;

}
.new_db>a{
    color: black;
}
.character{
    margin-left: 12%;
}
.character>a{
    color: black;
}




/*------end left bord-----------------*/

/*----------start rigt content-----------*/

.top_border{
    background-color: #888888;
}
.navbar{
    padding: 0;
}
.bg_slak{
    background-color: white;
    width: 16px;
    margin-left: 2px;
}
.computer_server{
    margin-left: 15px;
}
.computer_server>a{
    color: white;
}
.nav_buttons_group{
    background-color: #eaeaea;
}
.top_border>.border-right{
    color: white !important;
}
.navbar-nav .nav-item{
    border-left: 1px solid #ccc;
    color:#235a81
}
.navbar-nav .nav-item:first-child{
    border-left: 0;
}
.left_border_one{
    height: 140px;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 23px 0 0 7px;
}
.top_content_one{
    width: 100%;
    height: 40px;;
    background-color: #bababa;
    border: 1px solid #bababa;
    border-radius: 5px 5px 0 0;
}
.demo{
    color: white;
    margin: 5px 0 0 25px;
}
.left_border_two{
    height: 170px;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 23px 0 0 7px;
}
.para_demo{
    padding: 25px 20px;
}
.para_demo p{
    font-size: 13px;
    margin: 0;
}

.server_connect{
    padding: 20px 0 0 35px;
}
.select_width{
    width: 210px;
}
.more{
    margin-left: 40px;
    margin-top: 15px;
}
.left_border_three{
    height: 210px;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 23px 0 0 7px;
}
.lang{
    padding: 20px 0 10px 45px;
}
.options{
    padding: 10px 0 13px 42px;
}
.theme{
    padding-left: 42px;
}
.rigth_border_one{
    height: 290px;
    border: 1px solid grey;
    margin-top: 23px;
    border-radius: 7px;
}
.list_one{
    margin-top: 27px;
    margin-left: 27px;
}
.list_one ul li span{
    color:red;
}
.rigth_border_two{
    height: 190px;
    border: 1px solid grey;
    margin-top: 23px;
    border-radius: 7px;
}
.list_two{
    margin-top: 27px;
    margin-left: 27px;
}
.rigth_border_three{
    height: 290px;
    border: 1px solid grey;
    margin-top: 23px;
    border-radius: 7px;
}
.list_three{
    margin-top: 27px;
    margin-left: 27px;
}
.Data_title{
    padding: 10px;
}
.Data_title h3{
    color: #777;
}
.Crate_db{
    padding-left: 28px;
}
.input_create{
    padding: 30px;
}
.input_create #exampleFormControlSelect1{
    width: 205px;
    height: 29px;
    margin-left: 14px;
}
.sub_one{
    border-radius: 9px;
    border: 1px solid grey;
}
.table_one{
    padding-left: 30px;
}
.table_one fieldset{
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    height: 110px;
    background-color: #eaeaea;
}
.table_one fieldset legend{
    border: 1px solid grey;
    width: 116px;
    margin-left: 21px;
    text-align: -webkit-center;
    background-color: white;
}
.table_one div{
    margin: 23px;
}
.table_new_db{
    padding-left: 30px;
}
.table_new_db th{
    background-color: #eaeaea;
}
.th_padd{
    padding-right: 63px;
    border-right:1px solid white;
    color:#235a81;
}
.circle_th{
    border-right:1px solid white;
}
.bg_color_tr{
    background-color: #eaeaea;
}
.float_td{
    float: right;
}
.count_table_inform{
    background-color: #eaeaea;
    width: 81%;
    height: 20px;
}
.input_width{
    width: 170px;
}
.hr{
    width: 100%;
    height: 1px;
    border: 1px solid black;
}
table:first-of-type tr:nth-child(odd){
    background: #DFDFDF;
}
.table_two fieldset{
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    height: 180px;
    background-color: #eaeaea;
}
.table_two fieldset legend{
    border: 1px solid grey;
    width: 116px;
    margin-left: 21px;
    text-align: -webkit-center;
    background-color: white;
}
.table_two fieldset legend span{
    font-size: 16px;
}
.bottom_bord{
    width: 100%;
    height: 55px;
    background-color: #d3dce3;
    border: 1px solid grey;
}
.btn_border{
    float: right;
    border-radius: 12px 12px 12px;
    width: 50px;
    border: none;
    outline: none;
}
.modalView {
    width : 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.modalInner{
    width: 50%;
    height: 100%;
    background-color: red;
    margin: 0 auto;
}

.bottom_Show{
    width: 100%;
    height: 40px;
    border: 1px solid #a2d246;
    background-color: #ebf8a4;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}
.query_select_bord{
    width: 100%;
    height:40px;
    background-color: #e5e5e5;

}
.select a{
    color:#770088;
    border-bottom: 2px dotted;
    font-size: 11px;
}
.cm-operator{
    color: #ff00fd;
    font-size: 11px;
}
.cm-keyword{
    color:#770088;
    font-size: 11px;
}
.cm-variable{
    font-size: 11px;
    color: #05a;
}
.tools{
    width: 100%;
    height:40px;
    background-color: #d3dce3;
    border-radius: 0 0 6px 6px;
}
.tools_rigth_form{
    float: right;
}
.navigation_table{
    width: 57%;
    height: 45px;
}
.form_width{
    width: 50px;
}
.form_width_two{
    width: 160px;
}
.navigation_table:hover{
    background-color:#d3dce3;
}
.tilte_tables{
    background: #ccc;
}
.pad_rigth{
    padding-right:40px;
    border-right: 1px solid white;
}
.color_bg{

}